{% extends "blog/base.html" %}
{% block content %}
<!-- </br></br> -->
<article class="media content-section">
   <!-- <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" width="90px" height="80px"> -->
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-blogs' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted| date:"F d, Y" }}</small>
          {% if object.author == user %}
          <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-delete' object.id %}">Delete</a>
          </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>
    <!-- <h1>{{post.title}}</h1>
    <p1>by {{post.author}} on {{post.date_posted}}</p1>
    <p1>{{post.content}} </p1> -->
{% endblock content %}
