{% extends "blog/base.html" %}
{% block content %}
</br></br>
<h1 style="color: #10ac84;
	text-align: center;
	font-size:70px;
	font-family: monospace;
	font-weight: 900;
	text-shadow: 4px 4px #e2e2e2;">Privacy Policy</h1>
</br></br>
<article class="media content-section" style="box-shadow: 0px 0px 10px black; border: 1px solid #252833; background-color: #252833; width: 80%;">
    <!--================================================== -->
     <div>
          <div>
          </br></br>
          <h3 style="font-weight: bold; color: #12cbc4; text-shadow: 1px 1px #e2e2e2;"> Personal Information we collect</h3>
<p style="font-family: verdana;">We collect personal information from you directly, e.g. when you play games or register for an account, and also generate information about your use of our games, including game play and log data. If you log in to a game with your social media account, we will receive information about you including your name, profile picture and email address. We also receive information from third parties such as social media platforms and fraud detection providers. More Information.
              </p>
            </br>
            <h3 style="font-weight: bold; color: #12cbc4; text-shadow: 1px 1px #e2e2e2;"> We use your personal information</h3>

              <p style="font-family: verdana;">We use your information to provide you with our games, support and analyse your use, and improve them. We will also use your information to respond to your questions.   We sometimes send you promotional emails, send you push notifications and show you ads targeted to you in our games. You can choose to stop receiving these at any time, by opting out or changing your browser or device settings. More Information. </p> </br>
              <h3 style="font-weight: bold; color: #12cbc4; text-shadow: 1px 1px #e2e2e2;">Your rights</h3>

<p>You may have rights to access, receive a copy of, or delete, your information or restrict processing of your data, and you also have the right to object to our use of your information for certain purposes, including tailored marketing and advertising. More Information.
              </p></br>

              <h3 style="font-weight: bold; color: #12cbc4; text-shadow: 1px 1px #e2e2e2;">Changes to the Privacy Policy</h3>

              <p style="font-family: verdana;">Any updates or changes to this Policy will be published here. If there are any significant changes, we will notify you through the website and in-Game.</p> </br></br>           
           </div>
        </div>
     
      </article>
{% endblock content %}

