{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="width: 40%;
    border-radius: 5px;
    border: 1px solid #696969;
    background-color: #696969;
    padding: 20px;
    box-shadow: 0px 0px 50px black;">
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'login' %}" style="color: orange; font-size: 20px; font-weight: bold;">Login In Again</a>
            </small>
        
        </div>
    </div>
{% endblock content %}